*{
    margin:0;
    padding: 0;
    font-family: monospace;
}

.container{
    width: 70%;
    margin: 10% auto;
    display: flex;
}

.child1{
    width: 30%;
    margin: 10px;
}
.table {
   
    border-collapse: collapse;
}

.table tr, td{
     border: 1px solid #cccccc;
}

.table tbody tr{
    padding:20px;
}


.table thead tr th{
    margin: 0;
    width: 10%;
    height: 30px;
    color: white;
}

.work{
    
}

.work h4{
    margin: auto;
    word-wrap: break-word;
    width: 1px;
    background-color: #444;
    padding: 20px;
    color: #fff;
    box-shadow:  5px 10px 8px #888888;
     
    
}

.practicas{
    font-weight: 600;
    background-color: #444;
    color: #fff;
}

.table thead tr th:nth-child(1){
    background-color: #444;
}
.table thead tr th:nth-child(2){
    background-color: rgb(255, 96, 75);
}

.table thead tr th:nth-child(3){
    background-color: rgb(22, 127, 146);
}

.table thead tr th:nth-child(4){
    background-color: rgb(73, 212, 179);
}

.table thead tr th:nth-child(5){
    background-color: rgb(243, 134, 175);
}

.table thead tr th:nth-child(6){
    background-color: rgb(247, 185, 62);
}
.table thead tr th:nth-child(7){
    background-color: #444;
}

.table thead tr th:nth-child(8){
    background-color: #444;
}



.table tbody tr td{
    margin: 0;
    width: 10%;
    text-align: center;
}

.child2{
    

} 